.navbar-link {
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 10px;
  font-size: 14px;
  color: #fff;
}
.navbar-link_mobile {
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 10px;
  font-size: 14px;
  color: #555;
}
@media screen and (min-width: 1200px) {
  .container_flex {
    width: 1140px;
  }
}
@media only screen and (max-width: 1024px){
  .c_mview {
    flex-direction: column !important;
  }
}

@media only screen and (max-width: 767px) {
  .text_mvcontainer {
    flex-direction: column !important;
  }
  .img_1{
    width: 100% !important;
  }
}
